<%= for {n, tasks} <- group_tasks(@tasks) do %>
<div class="text-4xl m-6">Level <%= n %></div>
<div class="grid grid-cols-2 gap-4">
    <%= for task <- tasks do %>
    <div class="bg-green-50 rounded">
        <%= render "html/#{task.name}.html" %>
        <br>
        <%= link "Start", to: Routes.task_path(@conn, :start_task, task), method: :post, class: "btn btn-primary" %>
    </div>
    <% end %>
</div>
<br><br>
<% end %>







