<div class="grid grid-cols-2 gap-4">
<%= for task <- @tasks do %>
    <div class="bg-green-100 rounded">
        <h1>Level <%= task.level %></h1>
      <%= render "html/#{task.name}.html" %>
    <br>
    <%= link "Start", to: Routes.task_path(@conn, :start_task, task), method: :post, class: "btn btn-primary" %>
    </div>
<% end %>
</div>