<h1>My Tasks</h1>


<%= for t <- @tasks do %>
    <%= render "html/#{t.task.name}.html" %>
<h1>Started At: <%= t.inserted_at %></h1>
<h1><%= !is_nil(t.completed_at) %>
            <%= for i <- t.images do %>
                  <img src="<%= i.url %>" />
            <% end %>
            <a href="/task/progress/<%= t.id %>">Add image</a>
      </h1>
<% end %>
