<%= if @live_action in [:new, :edit] do %>
  <%= live_modal @socket, UnstuckWeb.ImageLive.FormComponent,
    id: @image.id || :new,
    title: @page_title,
    action: @live_action,
    image: @image,
    activity: @activity,
    return_to: Routes.task_path(@socket, :my_tasks) %>
<% end %>
